{% extends "myadmin/base.html" %}
{% block Sidebar_Menu %}
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">主要导航</li>
        <!-- 导航列表，你可以自行更改图标 -->
        <li class="active"><a href="{% url 'myadmin_index' %}"><i class="fa fa-home"></i> <span>首页</span></a></li>

        <li><a href="{% url 'myadmin_news_index' 1 %}"><i class="fa fa-users"></i> <span>爬取新闻展示</span></a></li>
        <li><a href="{% url 'myadmin_news_add' %}"><i class="fa fa-sitemap"></i> <span>新闻添加</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
{% endblock %}


{% block main_body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h4>
        信息提示:
    </h4>
</section>

<div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;padding-left: 50px">
        <h3><i class="fa fa-exclamation-triangle"></i> &nbsp; {{ info }}</h3>
    </div>
</div>
{% endblock %}
